.input-data {
   display: flex;
   margin-bottom: 40px;
}
.input-data > .data-left,
.data-right {
   flex: 1;
   padding: 0 40px;
}
.MuiTextField-root {
   margin-bottom: 20px !important;
}
.button-wrapper {
   text-align: right;
   padding-right: 40px;
}
